/* Font */
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Space Mono', monospace;
  font-size: 16px;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #c5e4e7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.logo {
  margin-bottom: 6%;
}

.container {
  width: 800px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: white;
  border-radius: 20px;
  
}

.left {
  width: 370px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 10px;
}

.left p {
  margin: 3% 0;
  color: #03474b;
  font-weight: 700;
}

.bill {
  width: 100%;
  margin-bottom: 5%;
}

.input_container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background-color: #f3f8fb;
  padding: 3%;
  border-radius: 5px;
}

.input_container input {
  border: none;
  background-color: transparent;
  text-align: right;
}

/* Placeholder styles */
::placeholder {
  font-size: 1.25rem;
  font-weight: 700;
  color: #03474b;
}

/* Rmove the input spinner */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.tip {
  width: 100%;
}

.tip_buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.tip_buttons button {
  width: calc(90%/3);
  margin: 2% 0;
  padding: 3% 1%;
  background-color: #03474b;
  border-radius: 5px;
  font-weight: 700;
  color: #FFF;
  border: none;
  cursor: pointer;
}

.tip_buttons button.active {
  background-color: #2fc2ad;
  color: #03474b;
}

.tip_buttons button.custom {
  background-color: #f3f8fb;
  color: #03474b;
}

.people {
  width: 100%;
}

.right {
  width: 370px;
  padding: 40px 30px;
  background-color: #03474b;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
}

.amounts {
  padding: 10% 5%;
}

.amount {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10%;
}

.amount p {
  display: flex;
  flex-direction: column;
  color: #f3f8fb;
  font-size: .85rem;
  font-weight: 700;
}

.amount p span {
  color: #2fc2ad;
  font-size: .65rem;
  font-weight: 400;
}

h3 {
  font-size: 2rem;
  color: #2fc2ad;
}

.right button {
  background-color: #2fc2ad;
  padding: 2%;
  color: #03474b;
  font-size: 1.15rem;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}