* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

body {
      width: 100%;
    height: 100vh;
    background-color: #c5e4e7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
  margin: 2% 0 4%;  
}

.container {
  width: 800px;
  height: 400px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: white;
  border-radius: 20px;
  
}

.left {
  width: 370px;
  height: 100%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 10px;
}

.left p {
  margin: 3% 0;
}

.bill {
  width: 100%;
  margin-bottom: 10%;
}

.input_container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background-color: #f3f8fb;
  padding: 3%;
  border-radius: 5px;
}

.input_container input {
  border: none;
  background-color: transparent;
  text-align: right;
}

.tip {
  width: 100%;
}

.tip_buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.tip_buttons button {
  width: calc(90%/3);
  margin: 2% 0;
  padding: 3% 1%;
  background-color: #03474b;
  border-radius: 5px;
  color: #FFF;
  border: none;
}

.tip_buttons button.active {
  background-color: #2fc2ad;
  color: #03474b;
}

.people {
  
}

.right {
  width: 370px;
  height: 100%;
  padding: 15px;
  background-color: #03474b;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 10px;
}
