/* Font */
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Space Mono', monospace;
  font-size: 16px;
}

body {
    max-width: 1440px;
    min-width: 375px;
    margin: 0 auto;
    background-color: #bbe1e6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /* Dark Mode Styles */
  .dark {
    filter: invert(.9);
    background-color: #0b353a;
  }

.logo {
  margin-top: 5%;
}

.container {
  width: 90%;
  margin: 5% auto 3%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  background-color: white;
  border-radius: 20px;
  
}

.left {
  /* margin: 0 auto; */
  width: 100%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 10px;
}

.left p {
  margin: 3% 0;
  color: #031a4b;
  font-weight: 700;
}

.bill {
  width: 100%;
  margin-bottom: 5%;
}

.input_container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background-color: #f3f8fb;
  padding: 3%;
  border-radius: 5px;
}

.input_container input {
  width: 100%;
  border: none;
  background-color: transparent;
  text-align: right;
  font-size: 1.25rem;
  font-weight: 700;
  color: #031a4b;
}

/* Placeholder styles */
::placeholder {
  font-size: 1.25rem;
  font-weight: 700;
  color: #031a4b;
}

/* Rmove the input spinner */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.tip {
  width: 100%;
}

.tip_buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.tip_buttons button {
  width: calc(90%/3);
  margin: 2% 0;
  padding: 3% 1%;
  background-color: #031a4b;
  border-radius: 5px;
  font-weight: 700;
  color: #e9f4f4;
  border: none;
  cursor: pointer;
}

.tip_buttons button.active {
  background-color: #77a1fc;
  color: #031a4b;
}

.tip_buttons button.custom {
  background-color: #f3f8fb;
  color: #031a4b;
}

.custom-button {
  width: calc(90%/3);
  margin: 2% 0;
  padding: 3% 1%;
  background-color: #f3f8fb;
  color: #031a4b;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 700;
  border: none;
  cursor: pointer;
  text-align: center;
}

.custom-button::placeholder {
  font-size: 1rem;
  font-weight: 700;
}

.people {
  width: 100%;
}

.right {
  width: 100%;
  padding: 40px 30px;
  background-color: #031a4b;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
}

.amounts {
  padding: 10% 5%;
}

.amount {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10%;
}

.amount p {
  display: flex;
  flex-direction: column;
  color: #e9f4f4;
  font-size: .85rem;
  font-weight: 700;
}

.amount p span {
  color: #77a1fc;
  font-size: .65rem;
  font-weight: 400;
}

h3 {
  font-size: 2rem;
  color: #77a1fc;
}

.right button {
  background-color: #77a1fc;
  padding: 2%;
  color: #031a4b;
  font-size: 1.15rem;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

/* Media queries */
@media screen and (min-width: 768px) {
  .container {
    width: 60%;
    flex-direction: row;
  }
  .left {
    width: 45%;
  }
  .right {
    width: 45%;
  }
}